[is='flynt-block-homepage'] {
  cursor: url('/wp-content/uploads/2021/12/logo120.png'), auto;
  height: 100vh;
  width: 100vw;

  .background {
    background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .toggle {
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    height: 30px;
    justify-content: center;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    z-index: 4;
  }

  .info {
    @include reset-content-margins;
    background-color: #fff;
    border-radius: 20px;
    bottom: 20px;
    display: none;
    height: fit-content;
    max-width: 350px;
    padding: 20px;
    position: fixed;
    right: 20px;
    text-align: inherit;
    z-index: 4;

    &--textLeft {
      text-align: left;
    }

    &--textCenter {
      text-align: center;
    }

    > :last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .image:nth-child(1) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    }
  }

  .image:nth-child(2) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(3) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/Broudou_OBT_-26-final.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(4) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/00018-.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(5) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(6) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(7) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(8) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(9) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(10) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(11) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(12) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(13) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(14) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(15) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(16) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(17) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(18) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(19) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(20) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(21) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(22) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(23) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(24) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(25) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(26) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(27) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(28) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(29) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(30) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(31) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(32) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(33) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(34) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(35) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/DSC_0249.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }

  .image:nth-child(36) {
    &:hover {
      &::before {
        background-image: url('/wp-content/uploads/2021/12/1aaf69120080528154848168.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
      }
    } 
  }
  
}
