[is='flynt-navigation-main'] {
  $navigation-height: 20px;
  display: block;
  padding: $container-padding-mobile;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .wrapper {
    background-color: $color-background;
    height: $navigation-height;
  }

  .container {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .logo {
    display: block;
    height: 100%;
    z-index: 2000;

    &-image {
      height: 20px;
      width: auto;
    }
  }

  .menu {
    @include reset-list;
    align-items: center;
    display: flex;
    margin-right: -18px;
    padding-left: 36px;

    &-item--current {
      .menu-link {
        color: $color-accent;
      }
    }

    &-link {
      color: $color-text;
      display: inline-block;
      font-weight: 700;
      padding: 7px 18px;
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }
  }
}
